
body {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*------ Tabs style --------*/

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links {
    margin: 0;
    background: white;
    border-top: solid black 3px;

    li {
        float: left;
        list-style: none;
        width: 33.3%;
        text-align: center;
    }

    a {
        padding: 13px 25px;
        display: inline-block;
        color: #333;
        transition:all linear 0.15s;
    }

    a:hover {
        background:#a7cce5;
        text-decoration:none;
    }
} 

li.active a, li.active a:hover {
    background: #b3d4fc;
}

.tab-content {
    overflow: hidden;
}
    .tab {
        display:none;
    }
    .tab.active {
        display:block;
    }