
body {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*------ Tabs style --------*/

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links {
    margin: 0;
    background: #f3d796;
    padding: 0px;
    display: block;
    width: 100%;

    li {
        float: left;
        list-style: none;
        width: 33.3333%;
        text-align: center;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    li:hover {
        background: #ecc76e;
    }   

    a {
        padding: 13px 25px;
        display: inline-block;
        color: #333;
        transition:all linear 0.15s;
        text-decoration: none; 
    }

}

li.active {
    background: #ecc76e;
}


.tab-content {
    overflow: hidden;
    width: 100%;
}
    .tab {
        display:none;
    }
    .tab.active {
        display:block;
    }
#showBeforeDay{
    display: none;
}
#showBeforeDayIn{
    display: none;
}

.ErrorMessage{
    padding: 15px 30px;
    font-size: 24px;
    line-height: 32px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}