/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
	#logo { width: 100%; }
	#nav-bar { width: 90%; margin: 0 5%;}
	#container { width: 90%; margin-left: 5%; margin-right: 5%;}
	#calendar-section { width: 100%; }
	#outlay-section { width: 100%; }
	#new-outlay { width: 80%; margin-left: 10%; margin-right: 10%;}
	#regular-outlay { width: 100%; }
	#manage-outlay { width: 80%; margin-left: 10%; margin-right: 10%; }
	#income-section { width: 100%; }
	#new-income {  width: 80%; margin-left: 10%; margin-right: 10%; }
	#regular-income { width: 100%; }
	#manage-income { width: 80%; margin-left: 10%; margin-right: 10%; }
	#manage-forecast { width: 100%; }
	#manage-balance { width: 100%; }
	#statistics { width: 100%; }
	#footer { width: 100%; }
	.adapt-nav li{ display: block; }
	.adapt-nav li + li{ margin-left: 0; }
}