/* Desktop */
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps);

body {
	background-image: url(../img/main/background.jpg);
	background-attachment: fixed;
}

.box { float: left; }
.root { 
	width: 100%; 
	margin: 0 auto; 
}

#logo { 
	width: 30%;
	color: white;
	text-align: center;
}

#logo img {
	margin-left: 10px;
	height: 50px;
	width: 50px;
}

#logo span {
	font-size: 25px;
	font-family: 'Playball', cursive;
	display: block;
}

#nav-bar { 
	width: 70%;
    font-family: 'Times', italic;
	font-size: 1.1em;
	font-style: italic;
}

#nav-bar:focus {
	border: none;
}

.adapt-nav {
	ul {
		margin: 33px 0px;		
	}

	li {
		list-style: none;
		float: left;
	}

	li+li {
		margin-left: 30px;
	}
}

#container { 
	width: 70%; 
	background: white;
	margin-left: 15%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.58);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.58);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.58);
}

.inp-cat, .sel-cat, .inp-cos, .btn-submit, .btn-manage, .inp-dat, .btn-to-menu {
	margin-left: 5%;
	margin-top: 3%;
}

.sel-cat {
	width: 90%;
}

.btn-submit {
	width: 90%;
}

#calendar-section { width: 100%; }

#outlay-section { 
	width: 100%; 
	background: #FFCC99;
}

#income-section {
	background: #BCF5A9;
}

#new-outlay, #regular-outlay, #new-income, #regular-income {
	margin-bottom: 20px;
}

.header-text-lg, .header-text-lg-right {
	background: white;
}

.hidden-block {
	display: none;
}

.small-menu {
	font-family: 'Times';
	font-style: italic;
	float: right;
	margin-right: 5%;
	margin-top: 3%;
}
#new-outlay { width: 50%; }
#regular-outlay { width: 50%; }
#manage-outlay { width: 100%; }
#income-section { width: 100%; }
#new-income { width: 50%; }
#regular-income { width: 50%; }
#manage-income { width: 100%; }
#manage-forecast { width: 100%; }
#manage-balance { width: 100%; }
#statistics { width: 100%; }
#footer { 
	width: 100%; 
	height: 40px;
	background: black;
	font-family: 'Times', italic;
	font-size: 1.1em;
	font-style: italic;
}