/* Desktop */
@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps);

body {
	background-image: url(../img/main/background.jpg);
	background-attachment: fixed;
}

.box { float: left; }
.root { 
	width: 100%; 
	margin: 0 auto; 
}

#logo { 
	width: 30%;
	color: white;
	text-align: center;
}

#logo img {
	margin-left: 10px;
	height: 50px;
	width: 50px;
}

#logo span {
	font-size: 25px;
	font-family: 'Playball', cursive;
	display: block;
}

#nav-bar { 
	width: 70%;
    font-family: 'Times', italic;
	font-size: 1.1em;
	font-style: italic;
}

#nav-bar:focus {
	border: none;
}

.adapt-nav {
	ul {
		margin: 33px 0px;		
	}

	li {
		list-style: none;
		float: left;
	}

	li+li {
		margin-left: 30px;
	}
}
/* Left Nav Bar */

.leftNavBar {
	display: none;
	position: fixed;
	top: 10px;
	left: 15px;
	background: #221831;
	opacity: 0.75;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 150px;
	text-align: center;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
	img {
		width: 50px;
	}
	ul {
		padding: 0px;
	}
	li {
		list-style: none;
		height: 25px;
		a {
			color: white;
			text-decoration: none;
		}
	}
	li:hover {
		background: #f3d796;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		color: #231934;	
		a {
			color: black;
		}
	}
}

.leftNavBar:hover {
	opacity:0.95;
}


/* End of left nav bar */

.manage-button {
	position: fixed;
	right: 0px;
	top: 100px;
	background: #121212;
	background-image: url("../img/main/wrench11.svg");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: contain;
	width: 50px;
	height: 50px;
	opacity: 0.65;
	border: 0px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.manage-button:hover {
	opacity: 0.9;
}


#container { 
	width: 70%; 
	background: white;
	margin-left: 15%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.58);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.58);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.58);
}

.inp-cat, .sel-cat, .inp-cos, .btn-submit, .btn-manage, .inp-dat, .btn-to-menu, .btn-add {
	margin-top: 2%;
}

.btn-add, .btn-submit {
	width: 10%;
	float: right;
}

#calendar-section { width: 100%; }

#outlay-section { 
	width: 100%; 
	margin-top: 20px;
	margin-bottom: 20px;
}

#income-section {
	margin-top: 20px;
}

#new-outlay, #regular-outlay, #new-income, #regular-income {
	margin-bottom: 20px;
}

.header-text-lg, .header-text-lg-right {
	background: white;
}

.hidden-block {
	display: none;
}

.small-menu {
	font-family: 'Times';
	font-style: italic;
	float: right;
	margin-top: 3%;
}

form {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.title-flag-container {
	width: 100%;
	clear: both;
}


#new-outlay { }
#regular-outlay { width: 100%; }
#manage-outlay { width: 100%; }
#income-section { width: 100%; }
#new-income { }
#regular-income { width: 100%; }
#manage-income { width: 100%; }
#manage-forecast { 
	width: 100%;
	text-align: center; 
	p {
		margin-bottom: 5px;
	}
}
#manage-balance { width: 100%; }
#statistics { width: 100%; }

.info-block {
	display: none;
	position:fixed;
	bottom: 10px;
	right: 15px;
	width: 250px;
	height: 100px;
	background: #221831;
	opacity: 0.85;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	color: white;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.64);
	-moz-box-shadow:    2px 2px 5px 0px rgba(0, 0, 0, 0.64);
	box-shadow:         2px 2px 5px 0px rgba(0, 0, 0, 0.64);
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	header {
		margin-left: 10px;
		color: white;
		font-weight: 800;
	}
	img {
		position: absolute;
		right: 5px;
		top: 5px;
		width: 15px;
		height: 15px;
	}
	img:hover {
		right: 4px;
		top: 4px;
		width: 17px;
		height: 17px;
	}
}

.info-block:hover {
	opacity: 1;
}

#footer { 
	width: 100%; 
	height: 40px;
	background: black;
	font-family: 'Times', italic;
	font-size: 1.1em;
	font-style: italic;
}

#shadow-layer {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #222;
	opacity: 0.65;
}

#manage-block {
	display: none;
	position: fixed;
	left: 17%;
	top: 20%;
	width: 66%;
	height: 60%;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	header {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 40px;
		width: 100%;
		background: #849d64;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		img {
			position: absolute;
			right: 5px;
			top: 10px;
			width: 20px;
			height: 20px;
			float: right;
		}
		img:hover {
			right: 4px;
			top: 9px;
			width: 22px;
			height: 22px;
		}
		h2 {
			margin-top: 10px;
			color: white;
		}
	}
}

/* Statistics design */

.statistics {
	width: 100%;
	display: block;
	margin-top: 90px;
	div {
		width: 32%;
		margin-left: 1%;
		float: left;
		background: #f3d796;
		margin-bottom: 30px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	div.statistic-by-categories {
		width: 99%;
	}
	span.statistics-mini-headers {
		width: 100%;
		height: 25px;
		background: #eac263;
		color: #221831;
		text-align: center;
	}
	span.rounded {
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	span.statistics-subheaders {
		font-weight: 700;
		color: #221831;
	}
	span {
		display: block;
	}
	span.calculated-data {
		float: right;
		color: #0d3d3f;
		margin-right: 5px;
		font-weight: 700;
	}
}